<!DOCTYPE HTML>
<!--
	Eventually by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Computer-Assisted Translation</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="{{baseDir}}/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{baseDir}}/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{{baseDir}}/assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="{{baseDir}}/assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1>Computer-Assisted Translation</h1>
				<p>An SIL Language Software Development research project. We aim to provide research and technology to describe and support the application of machine translation technology to minority language translation.</p>
				<p>To receive updates regarding this project, please subscribe below.</p>
			</header>

		<!-- Signup Form -->
			<form id="signup-form" method="post" action="https://script.google.com/a/sil.org/macros/s/AKfycbw-7hoHNh3IB_2ZOFGz6TqRs5vSX2ImwOB55lGwwruN0p2oYFnL/exec">
<div>
				<input required type="text" name="Name" id="name" placeholder="Name" />
				<input required type="email" name="Email" id="email" placeholder="Email Address" />
<textarea style="display:block" required id="whycat" placeholder="Tell us more about how CAT can help you and your project"></textarea>
</div>
				<input type="submit" value="Subscribe" />
<div>

</div>
			</form>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://www.sil.org" class="icon"><img title="SIL International" src="{{baseDir}}/images/sil_logo.png" /></a></li>
					<li style="position:relative; top:-5px"><a href="http://li.payap.ac.th/" class="icon"><img title="Linguistics Institute | Payap University" src="{{baseDir}}/images/payap_logo.png" /></a></li>
					<li><a href="/auth/login" class="icon"><img title="Login to the Computer-Assisted Translation Research Project" src="{{baseDir}}/images/cat_logo_light.png" /></a></li>
					<li style="position:relative; top:-10px"><a href="https://github.com/sillsdev/machine" class="icon fa-github fa-3x"><span class="label">Open-Source Project on GitHub</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; SIL International</li>
					<li>Credits: <a href="http://html5up.net">HTML5 UP</a></li>
					<li><a href="/auth/login">Login</a></li>
				</ul>
			</footer>

		<!-- Scripts -->
			<!--[if lte IE 8]><script src="{{baseDir}}/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{baseDir}}/assets/js/main.js"></script>

	</body>
</html>
