{% extends 'container.html.twig' %}

{% block meta %}
    {{ parent() }}
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
    <!--[if lte IE 8]>
    <div style="text-align:center">Your browser may not work so well. Please consider <a href="learn_faq">upgrading</a> to a modern standards compliant browser.</div>
    <![endif]-->
    <div id="header">
        <div class="container">
            <div class="sf-logo-medium">
                <img src="/Site/views/scriptureforge/theme/default/image/sf_logo_medium.png" alt="Scripture Forge" style="width:92px; height:114px" />
            </div>
            <div id="header-nav" class="pull-left">
                <ul class="sf-menu">
                    <li><a href="/">Home</a></li>
                    <!--
                    <li><a href="/explore">Explore</a>
                        <ul>
                        <?php foreach($featuredProjects as $project): ?>
                            <li><a href="<?php echo "/projects/" . str_replace(" ", "_", strtolower($project['projectName'])); ?>"><?php echo $project['projectName']; ?></a></li>
                        <?php endforeach; ?>
                        </ul>
                    </li>
                    -->
                    <li><a href="/learn_scripture_forge">Learn</a>
                        <ul>
                            <li><a href="/learn_faq">Frequently Asked Questions</a></li>
                            <li><a href="/learn_scripture_forge">About Scripture Forge</a></li>
                            <li><a href="/learn_expand_your_team">Expand Your Team</a></li>
                        </ul>
                    </li>
                    <li><a href="/discuss">Discuss</a></li>
                </ul>
            </div>

            {% if isLoggedIn %}
                <div class="pull-right">
                    <ul id="header-nav" class="sf-menu">
                        <li id="myProjects"><a href="/app/projects">My Projects</a>
                            <ul>
                                {% for project in projects %}
                                    <li><a href="{{ '/app/'~project.appName~'/'~project.id }}">{{ project.projectName }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li>
                            <a href="#"><img src="{{ smallAvatarUrl }}" style="width: 28px; height: 28px; float:left; position:relative; top:-5px; border:1px solid white; margin-right:10px" id="smallAvatarURL" />Hi, {{ userName }}</a>
                            <ul>
                                {% if isAdmin %}
                                    <li><a href="/app/siteadmin">Site Administration</a></li>
                                {% endif %}
                                <li><a href="/app/userprofile">My Profile</a></li>
                                <li><a href="/app/activity">My Activity</a></li>
                                <li><a href="/app/changepassword">Change Password</a></li>
                                <li><a href="/app/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            {% else %}
                <div id="account" class="pull-right">
                    <input type="button" value="Login" style="position:relative; top:-3px" class="login-btn left" onclick="window.location='/auth/login'"/> &nbsp; or &nbsp; <a href="/signup">Create an Account</a>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="/js/lib/jquery-ui-1.8.23.custom.min.js"></script>
    <script src="/js/lib/superfish/superfish.js"></script>
    <script src="/js/lib/superfish/hoverIntent.js"></script>
    <script src="/js/lib/slides.min.jquery.js"></script>
    <script>

        $(document).ready(function () {
            // Superfish menu delay
            $("ul.sf-menu").superfish({
                delay: 500
            });

            // Slideshow
            $('#slides').slides({
                preload: false,
                preloadImage: 'images/loading.gif',
                play: 5000,
                pause: 2500,
                hoverPause: true,
                prependPagination: true,
                paginationClass: 'slide_pagination'
            });

            /* Workaround for IE image loading with black edges */
            if ($.browser.msie) {
                if (parseInt($.browser.version, 10) != 6) {
                    setTimeout(function () { $('.slides_container img').css('visibility','visible') }, 400);
                }
            } else {
                $('.slides_container img').css('visibility','visible');
            }

        });

    </script>
{% endblock %}

{% block footer %}
    <div id="footercontainer">

        <div id="footer">
            <div class="container">
                <div class="row">

                    <div class="span2">
                        <h4>Contact</h4>
                        <p class="small">Scripture Forge<br />SIL International<br />7500 W. Camp Wisdom Road<br />Dallas, TX 75236-5629 USA</p>
                    </div>

                    <div class="span2">
                        <h4>Navigate</h4>
                        <small>
                            <a href="/">Home</a><br /><a href="/learn_scripture_forge">Learn</a><br /><a href="/discuss">Discuss</a>
                        </small>
                    </div>

                    <div class="span1 offset4">
                        <p><a href="http://www.sil.org"><img src="/Site/views/shared/image/SIL_logo.png" alt="SIL Logo" width="50" height="49" /></a></p>
                        <p><a href="http://www.unitedbiblesocieties.org/"><img src="/Site/views/shared/image/ubs-logo.png" alt="ubs-logo" width="71" height="50" /></a></p>
                    </div>

                    <div class="span3">
                        <p><a href="http://ic.payap.ac.th/"><img src="/Site/views/shared/image/PAYAP_logo.png" alt="PAYAP Logo" width="170" height="50" /></a></p>
                        <p><a href="http://www.theseedcompany.org/"><img src="/Site/views/shared/image/seed-company-logo.png" alt="Seed Company Logo" width="162" height="50" /></a></p>
                    </div>

                </div>
            </div>
        </div>

        <div id="footerBaseline">
            <div class="container">
                <div class="row">
                    <div class="darkTextLogo span2"></div>
                    <div class="span1" style="color: #404040"><small>v {{ version }}</small></div>
                    <div class="span8">
                        <small>Copyright {{ "now"|date("Y") }} <a href="http://www.sil.org">SIL International</a>. Use of this site is governed by our <a href="/terms_and_conditions">terms and conditions</a> of use.</small>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block analytics %}
{% endblock %}
