{% extends 'container.html.twig' %}

{% block header %}

    {% if isLoggedIn %}

        <nav class="fixed-nav-bar navbar navbar-expand navbar-dark align-items-stretch" data-ng-controller="navbarController as $ctrl">
            <span class="desktop-title navbar-brand d-none d-md-inline-block mr-auto">
                <img class="navbar-logo" src="/Site/views/scriptureforge/theme/default/image/sf_logo_medium.png">
                <a class="" href="/">{{ app.website.name }}</a>
            </span>
            <div class="d-md-none">
                <ul id="mobileMenu" class="nav navbar-nav">
                    <li uib-dropdown class="nav-item nav-projects">
                        <a class="nav-link" uib-dropdown-toggle href id="mobileMyProjectDropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bars"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-left" uib-dropdown-menu aria-labelledby="mobileMyProjectDropdown">
                            <a class="dropdown-item" href="/app/activity">Activity</a>
                            <div class="dropdown-divider"></div>
                            {% verbatim %}
                            <div data-ng-switch="$ctrl.projectTypesBySite().length" data-ng-show="$ctrl.rights.canCreateProject">
                                <div data-ng-switch-when="1">
                                    <a class="dropdown-item" data-ng-href="/app/{{$ctrl.projectTypesBySite()[0]}}/new-project">
                                        <b>Start or Join a New Project</b></a>
                                </div>
                                <div data-ng-switch-default data-ng-repeat="appName in $ctrl.projectTypesBySite()">
                                    <a class="dropdown-item" data-ng-href="/app/{{appName}}/new-project">
                                        <img height="24px" data-ng-src="/Site/views/{{$ctrl.siteName}}/image/{{appName}}-newProjectBadge.png" />
                                        <b>Start a <span class="notranslate">{{$ctrl.projectTypeNames[appName]}}</span> project</b>
                                    </a>
                                </div>
                            </div>
                            {% endverbatim %}
                            {% if projects|length > 10 %}
                                <a class="dropdown-item" href="/app/projects"><b>List All Projects</b></a>
                                <div class="dropdown-divider"></div>
                            {% endif %}
                            {% if projects|length <= 10 %}
                                {% verbatim %}
                                <div class="dropdown-divider" data-ng-show="$ctrl.rights.canCreateProject"></div>
                                {% endverbatim %}
                            {% endif %}
                            {% for project in projects %}
                                <a class="dropdown-item"
                                   href="{{ '/app/'~project.appName~'/'~project.id }}">{{ project.projectName }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <a class="navbar-brand" href="/"><span style="margin-left:20px">{{ app.website.name }}</span></a>
                    <li uib-dropdown class="nav-item nav-user ml-auto">
                        <a class="nav-link" uib-dropdown-toggle href id="mobileUserDropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <img src="{{ smallAvatarUrl }}"
                                 class="rounded-circle"
                                 id="mobileSmallAvatarURL" /></a>
                        <div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="mobileUserDropdown">
                            {% if isAdmin %}
                                <a class="dropdown-item" href="/app/siteadmin">Site Administration</a>
                            {% endif %}
                            <a class="dropdown-item" href="/app/userprofile">My Profile</a>
                            <a class="dropdown-item" href="/app/changepassword">Change Password</a>
                            <a class="dropdown-item" href="/auth/logout">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="d-none d-md-block">
                <ul class="nav navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link " href="/app/activity">Activity</a>
                    </li>
                    <li class="nav-item" uib-dropdown>
                        <a class="nav-link" uib-dropdown-toggle href id="helpDropdown" aria-haspopup="true" aria-expanded="false">Help</a>
                        <div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="helpDropdown">
                            <a class="dropdown-item" target="_blank" href="https://community.scripture.software.sil.org/c/scripture-forge/how-to">Tutorials and How-Tos</a>
                            <a class="dropdown-item" target="_blank" href="https://community.scripture.software.sil.org/c/scripture-forge">Community Support</a>
                            <a class="dropdown-item" target="_blank" href="mailto:issues@scriptureforge.org">Report a Problem<br />(email issues@scriptureforge.org)</a>
                            <a class="dropdown-item" href="/releasenotes">Release Notes</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" uib-dropdown>
                        <a class="nav-link" uib-dropdown-toggle href id="myProjectDropdown"
                           aria-haspopup="true" aria-expanded="false">
                            My Projects</a>
                        <div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="myProjectDropdown">
                            {% verbatim %}
                            <div data-ng-switch="$ctrl.projectTypesBySite().length" data-ng-show="$ctrl.rights.canCreateProject">
                                <div data-ng-switch-when="1">
                                    <a class="dropdown-item" data-ng-href="/app/{{$ctrl.projectTypesBySite()[0]}}/new-project">
                                        <b>Start or Join a New Project</b></a>
                                </div>
                                <div data-ng-switch-default data-ng-repeat="appName in $ctrl.projectTypesBySite()">
                                    <a class="dropdown-item" data-ng-href="/app/{{appName}}/new-project">
                                        <img height="24px" data-ng-src="/Site/views/{{$ctrl.siteName}}/image/{{appName}}-newProjectBadge.png" />
                                        <b>Start a <span class="notranslate">{{$ctrl.projectTypeNames[appName]}}</span> project</b>
                                    </a>
                                </div>
                            </div>
                            {% endverbatim %}
                            {% if projects|length > 10 %}
                                <a class="dropdown-item" href="/app/projects"><b>List All Projects</b></a>
                                <div class="dropdown-divider"></div>
                            {% endif %}
                            {% if projects|length <= 10 %}
                                {% verbatim %}
                                <div class="dropdown-divider" data-ng-show="$ctrl.rights.canCreateProject"></div>
                                {% endverbatim %}
                            {% endif %}
                            {% for project in projects %}
                                <a class="dropdown-item"
                                   href="{{ '/app/'~project.appName~'/'~project.id }}">{{ project.projectName }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item" uib-dropdown>
                        <a class="nav-link" uib-dropdown-toggle href id="userDropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <img src="{{ smallAvatarUrl }}"
                                 style="width: 28px; height: 28px; float:left; position:relative; top:-5px; border:1px solid #39537c; margin-right:10px"
                                 class="rounded-circle"
                                 id="smallAvatarURL" />Hi, <span class="notranslate">{{ userName }}</span></a>
                        <div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="userDropdown">
                            {% if isAdmin %}
                                <a class="dropdown-item" href="/app/siteadmin">Site Administration</a>
                            {% endif %}
                            <a class="dropdown-item" href="/app/userprofile">My Profile</a>
                            <a class="dropdown-item" href="/app/changepassword">Change Password</a>
                            <a class="dropdown-item" href="/auth/logout">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

    {% else %}
        <nav class="fixed-nav-bar navbar navbar-expand navbar-dark align-items-stretch">
            <span class="desktop-title navbar-brand d-none d-md-inline-block mr-auto">
                <img class="navbar-logo" src="/Site/views/scriptureforge/theme/default/image/sf_logo_medium.png">
                <a class="" href="/">{{ app.website.name }}</a>
            </span>
            <a class="navbar-brand d-md-none mr-auto" href="/"><span style="margin-left:20px">{{ app.website.name }}</span></a>
            <ul class="nav navbar-nav">
                <li class="nav-item header-button-rounded">
                    <a class="nav-link" href="/public/signup">Sign Up</a>
                </li>
                <li class="nav-item header-button-rounded">
                    <a class="nav-link" href="/auth/login">Login</a>
                </li>
            </ul>
        </nav>

    {% endif %}
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="d-flex">
            <div class="d-none d-sm-flex align-items-end" style="margin-left: 120px">
                <div>
                    <a href="https://inter.payap.ac.th/"><img src="/Site/views/shared/image/payap_logo.png"
                                                          alt="Payap University Logo" width="85" height="25" /></a>
                    <a href="http://www.sil.org"><img src="/Site/views/shared/image/sil_logo_small.png"
                                                      alt="SIL International Logo" width="25" height="30" /></a>
                </div>
            </div>
            <div class="d-flex flex-grow justify-content-end align-items-end">
                <small>
                    v {{ version }}.
                    Copyright <span class="notranslate">{{ "now"|date("Y") }}</span> <a href="http://www.sil.org" class="links">SIL International</a>.
                    <a href="/terms_and_conditions" class="links">Terms and conditions</a>.
                </small>
            </div>
        </div>
    </footer>
{% endblock %}

{% block analytics %}
    {% if 'scriptureforge.org' in http_host %}
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-22170471-11', 'auto');
            ga('send', 'pageview');

        </script>
    {% endif %}
{% endblock %}
