<!DOCTYPE HTML>
<!--
	Tessellate by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Scripture Forge</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{{ baseDir }}/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{ baseDir }}/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ baseDir }}/assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ baseDir }}/assets/css/ie9.css" /><![endif]-->

		<link rel="icon" href="/Site/views/scriptureforge/theme/default/image/favicon.ico" type="image/x-icon">
	</head>
	<body>

		<!-- Header -->
			<section id="header" class="dark" style="background-color: #5c3d20;">
				<header>
					<h1>Welcome to Scripture Forge.</h1>
					<p>Scripture Forge is a web tool to facilitate online community Scripture checking.</p>
					<p>Engage with the language community. Upload Scripture portions, ask targeted questions,<br /> import responses back into Paratext. </p>
				</header>
                <footer>
                    <ul class="actions">
                        <li>
                            <a href="/public/signup" class="button">Sign up</a>
                        </li>
                        <li>
                            <a href="/auth/login" class="button">Login</a>
                        </li>
                        <li>
                            <a href="#first" class="button">Learn more</a>
                        </li>
                    </ul>
				</footer>
			</section>

		<!-- First -->
			<section id="first" class="main">
				<header>
					<div class="container">
						<h2>Extend Your Reach with Scripture Checking</h2>
						<p>Many Scripture projects today are engaging an increasingly geographically diverse group of mother-tongue speakers.<br />
						The Online Scripture Checking App facilitates a Scripture checking campaign, portion-by-portion, with the aim of getting broader feedback to the translation committee quickly.</p>
					</div>
				</header>
				<div class="content dark style1 featured">
					<div class="container">
						<div class="row">
							<div class="4u 12u(narrow)">
								<section>
									<span class="feature-icon"><span class="icon"><img style="margin-top:.5em" src="{{ baseDir }}/images/pt8_icon.png" /></span></span>
									<header>
										<h3>Works With Paratext</h3>
									</header>
									<p>Export text from Paratext in USX format and import into Scripture Forge.  After you have collected feedback, import responses back into Paratext as PT Notes.</p>
								</section>
							</div>
							<div class="4u 12u(narrow)">
								<section>
									<span class="feature-icon"><span class="icon fa-arrows"></span></span>
									<header>
										<h3>Flexible</h3>
									</header>
									<p>There's no predefined set of questions that you have to use.  Compile questions that fit your context and re-use question templates across texts.</p>
								</section>
							</div>
							<div class="4u 12u(narrow)">
								<section>
									<span class="feature-icon"><span class="icon fa-users"></span></span>
									<header>
										<h3>User Engagement</h3>
									</header>
									<p>Turn on "invite a friend" to open up your campaign or keep feedback to a defined group.  Users can answer questions, comment on other's answers and +1 other's responses.  Generate user engagement reports at the end of your campaign.</p>
								</section>
							</div>
						</div>
						<div class="row">
							<div class="12u">
								<footer>
									<!-- <a href="#second" class="button scrolly">Onto Tutorial</a>-->
<ul class="actions">
<li>
									<a href="/public/signup" class="button">Sign Up</a>
</li>
<li>
									<a href="/auth/login" class="button">Login</a>
</li>
</ul>
								</footer>
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Second -->
			<section id="second" class="main">
				<header>
					<div class="container">
						<h2 style="margin-bottom: 1em">See For Yourself</h2>
						<div class="outerVideoWrapper" style="margin: 0 auto; padding: 0.5em; max-width: 500pt;">
							<div class="videoWrapper">
								<iframe width="560" height="315" src="https://www.youtube.com/embed/T1aL3yhxXqw?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</header>
				<!--
				<div class="content dark style2">
					<div class="container">
						<div class="row">
							<div class="4u 12u(narrow)">
								<section>
									<h3>Augue vivamus sed ipsum commodo lorem dolor</h3>
									<p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales. Diam
									tempor dui lacinia eget ornare varius gravida. Gravida dis placerat lectus ante
									vel nunc euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus
									augue cubilia vivamus nisi eu eget ornare varius gravida euismod.  Gravida dis
									lorem ipsum dolor placerat magna tempus feugiat.</p>
									<p>Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
									accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida dolore
									euismod lorem ipsum dolor.</p>
									<footer>
										<a href="#third" class="button scrolly">Accumsan nisi tempor</a>
									</footer>
								</section>
							</div>
							<div class="8u 12u(narrow)">
								<div class="row">
									<div class="6u"><a href="#" class="image fit"><img src="images/pic01.jpg" alt="" /></a></div>
									<div class="6u"><a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a></div>
									<div class="6u"><a href="#" class="image fit"><img src="images/pic03.jpg" alt="" /></a></div>
									<div class="6u"><a href="#" class="image fit"><img src="images/pic04.jpg" alt="" /></a></div>
									<div class="6u"><a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a></div>
									<div class="6u"><a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				-->
			</section>
		<!--

                    <section id="third" class="main">
                        <header>
                            <div class="container">
                                <h2>Ornare varius lorem ipsum ante lectus</h2>
                                <p>Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet consequat<br />
                                feugiat. Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet.</p>
                            </div>
                        </header>
                        <div class="content dark style3">
                            <div class="container">
                                <span class="image featured"><img src="images/pic07.jpg" alt="" /></span>
                                <div class="row">
                                    <div class="4u 12u(narrow)">
                                        <h3>Diam vivamus turpis lorem sodales lectus ornare</h3>
                                        <p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales. Diam
                                        tempor dui lacinia eget ornare varius gravida. Gravida dis placerat lectus ante
                                        vel nunc euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus
                                        augue cubilia vivamus nisi eu eget ornare varius gravida euismod.  Gravida dis
                                        lorem ipsum dolor placerat magna tempus feugiat.</p>
                                        <p>Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
                                        accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida dolore
                                        euismod lorem ipsum dolor sit amet consequat. vivamus nisi eu eget ornare varius
                                        gravida dolore euismod lorem ipsum dolor sit amet consequat. vivamus nisi eu
                                        eget ornare et magna.</p>
                                    </div>
                                    <div class="4u 12u(narrow)">
                                        <p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales. Diam
                                        tempor dui lacinia eget ornare varius gravida. Gravida dis placerat lectus ante
                                        vel nunc euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus
                                        augue cubilia vivamus nisi eu eget ornare varius gravida euismod.  Gravida dis
                                        lorem ipsum dolor placerat magna tempus feugiat.</p>
                                        <p>Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
                                        accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida dolore
                                        euismod lorem ipsum dolor sit amet consequat eget ornare varius gravida euismod.
                                        Gravida dis lorem ipsum dolor placerat magna tempus feugiat magna tempus lorem.</p>
                                        <p>Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
                                        accumsan vivamus augue cubilia.</p>
                                    </div>
                                    <div class="4u 12u(narrow)">
                                        <p>Placerat lectus ante vel nunc euismod est turpis sodales. Diam tempor dui
                                        lacinia eget ornare varius gravida. Gravida dis placerat lectus ante vel nunc
                                        euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus augue
                                        cubilia vivamus nisi eu eget ornare varius gravida euismod.  Gravida dis
                                        lorem ipsum dolor placerat magna tempus feugiat. Lectus ante vel nunc euismod
                                        est turpis sodales. Diam tempor dui lacinia dolore.</p>
                                        <p>Accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida
                                        dolore euismod lorem ipsum dolor sit amet conseismod lorem ipsum dolor sit amet
                                        consequat lorem ipsum consequat feugiat sed tempus euismod feugiat veroeros.</p>
                                        <footer>
                                            <a href="#fourth" class="button scrolly">Ipsum ornare lorem dolor</a>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="main">
                        <header>
                            <div class="container">
                                <h2>A Whole Lotta Elements</h2>
                                <p>General purpose elements for every general purpose. Or something like that.</p>
                            </div>
                        </header>
                        <div class="content style1 dark">
                            <div class="container">
                                <section>
                                    <header>
                                        <h3>Paragraph</h3>
                                        <p>This is a byline</p>
                                    </header>
                                    <p>Phasellus nisl nisl, varius id <sup>porttitor sed pellentesque</sup> ac orci. Pellentesque
                                    habitant <strong>strong</strong> tristique <b>bold</b> et netus <i>italic</i> malesuada <em>emphasized</em> ac turpis egestas. Morbi
                                    leo suscipit ut. Praesent <sub>id turpis vitae</sub> turpis pretium ultricies. Vestibulum sit
                                    amet risus elit.</p>
                                </section>
                                <section>
                                    <header>
                                        <h3>Blockquote</h3>
                                    </header>
                                    <blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget.
                                    tempus euismod. Vestibulum ante ipsum primis in faucibus. Cras sit amet urna eros, id egestas
                                    tempus ante ipsum primis in faucibus orci luctus et ultrices.</blockquote>
                                </section>
                                <section>
                                    <header>
                                        <h3>Divider</h3>
                                    </header>
                                    <p>Donec consectetur <a href="#">vestibulum dolor et pulvinar</a>. Etiam vel felis enim, at viverra
                                    ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
                                    facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
                                    tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                                    posuere cubilia.</p>
                                    <hr />
                                    <p>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra
                                    ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
                                    facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
                                    tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                                    posuere cubilia.</p>
                                </section>
                                <section>
                                    <header>
                                        <h3>Unordered List</h3>
                                    </header>
                                    <ul class="default">
                                        <li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
                                        <li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
                                        <li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
                                        <li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
                                    </ul>
                                </section>
                                <section>
                                    <header>
                                        <h3>Ordered List</h3>
                                    </header>
                                    <ol class="default">
                                        <li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
                                        <li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
                                        <li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
                                        <li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
                                    </ol>
                                </section>
                                <section>
                                    <header>
                                        <h3>Table</h3>
                                    </header>
                                    <div class="table-wrapper">
                                        <table class="default">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>00001</td>
                                                    <td>Lorem ipsum dolor</td>
                                                    <td>Ut porttitor sagittis lorem quis nisi ornare.</td>
                                                    <td>29.99</td>
                                                </tr>
                                                <tr>
                                                    <td>00002</td>
                                                    <td>Sit amet nullam</td>
                                                    <td>Ut porttitor sagittis lorem quis nisi ornare.</td>
                                                    <td>19.99</td>
                                                </tr>
                                                <tr>
                                                    <td>00003</td>
                                                    <td>Feugiat felis viverra</td>
                                                    <td>Ut porttitor sagittis lorem quis nisi ornare.</td>
                                                    <td>29.99</td>
                                                </tr>
                                                <tr>
                                                    <td>00004</td>
                                                    <td>Sagittis enim felis</td>
                                                    <td>Ut porttitor sagittis lorem quis nisi ornare.</td>
                                                    <td>19.99</td>
                                                </tr>
                                                <tr>
                                                    <td>00005</td>
                                                    <td>Nullam sed vestibulum</td>
                                                    <td>Ut porttitor sagittis lorem quis nisi ornare.</td>
                                                    <td>19.99</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="3"></td>
                                                    <td>100.00</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </section>
                                <section>
                                    <header>
                                        <h3>Form</h3>
                                    </header>
                                    <form method="post" action="#">
                                        <div class="row 50%">
                                            <div class="6u 12u(narrow)">
                                                <input type="text" name="name" id="name" value="" placeholder="John Doe" />
                                            </div>
                                            <div class="6u 12u(narrow)">
                                                <input type="text" name="email" id="email" value="" placeholder="johndoe@domain.tld" />
                                            </div>
                                        </div>
                                        <div class="row 50%">
                                            <div class="12u">
                                                <div class="select" tabindex="-1">
                                                    <select name="department" id="department">
                                                        <option value="">Choose a department</option>
                                                        <option value="1">Manufacturing</option>
                                                        <option value="2">Administration</option>
                                                        <option value="3">Support</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row 50%">
                                            <div class="12u">
                                                <input type="text" name="subject" id="subject" value="" placeholder="Enter your subject" />
                                            </div>
                                        </div>
                                        <div class="row 50%">
                                            <div class="12u">
                                                <textarea name="message" id="message" placeholder="Enter your message"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="12u">
                                                <ul class="actions">
                                                    <li><input type="submit" class="button" value="Send Message" /></li>
                                                    <li><input type="reset" class="button alt" value="Clear Form" /></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </section>

                    <section id="fourth" class="main">
                        <header>
                            <div class="container">
                                <h2>Sed feugiat ipsum consequat</h2>
                                <p>Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet consequat<br />
                                feugiat. Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet.</p>
                            </div>
                        </header>
                        <div class="content style4 featured">
                            <div class="container 75%">
                                <form method="post" action="#">
                                    <div class="row 50%">
                                        <div class="6u 12u(mobile)"><input type="text" placeholder="Name" /></div>
                                        <div class="6u 12u(mobile)"><input type="text" placeholder="Email" /></div>
                                    </div>
                                    <div class="row 50%">
                                        <div class="12u"><textarea name="message" placeholder="Message"></textarea></div>
                                    </div>
                                    <div class="row">
                                        <div class="12u">
                                            <ul class="actions">
                                                <li><input type="submit" class="button" value="Send Message" /></li>
                                                <li><input type="reset" class="button alt" value="Clear Form" /></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>

                -->

		<!-- Footer -->
		<section id="footer">
		<ul class="icons">
		<li><a href="https://inter.payap.ac.th/"><img style="margin-bottom: 28px" src="/Site/views/shared/image/payap_logo.png"
		alt="Payap University Logo" width="170" height="50"/></a></li>
		<li><a href="http://www.sil.org"><img src="/Site/views/shared/image/sil_logo.png" alt="SIL International Logo"
		width="100" height="119"/></a></li>
		</ul>


		<div class="copyright">

		<ul class="menu">
		<li>Copyright <span class="notranslate">{{ "now"|date("Y") }}</span> <a href="http://www.sil.org">SIL International</a>. Use of this site is
		governed by our <a href="/terms_and_conditions">terms and conditions</a>.
		</li>
		<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		<!-- <li>Photo Credit: <a href="https://commons.wikimedia.org/wiki/File%3ABangkok_at_night_01_(MK).jpg">photo [<a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>]</li> -->
		</ul>
		</div>
		</section>

		<!-- Scripts -->
		<script src="{{ baseDir }}/assets/js/jquery.min.js"></script>
			<script src="{{ baseDir }}/assets/js/jquery.scrolly.min.js"></script>
			<script src="{{ baseDir }}/assets/js/skel.min.js"></script>
			<script src="{{ baseDir }}/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="{{ baseDir }}/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{ baseDir }}/assets/js/main.js"></script>

	</body>
</html>
