<!DOCTYPE HTML>
<!--
    Alpha by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Language Forge</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="/Site/views/languageforge/theme/default/image/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{ baseDir }}/assets/css/main.css"/>
    <link rel="apple-touch-icon" href="/appIcons/lf-logo-circle-192-xxxhdpi.png">
</head>
<body class="landing">
<div id="page-wrapper">
    <!-- Header -->
    <header id="header" class="alt">
        <h1><a href="/">Language Forge</a></h1>
        <nav id="nav">
            <ul>
                <li><a href="/public/signup" class="button">Sign Up</a></li>
                <li><a href="/auth/login" class="button">Login</a></li>
                <li><a href="#more" class="button">More info and help</a></li>
            </ul>
        </nav>
    </header>

    <!-- Banner -->
    <section id="banner">
        <h2>Language Forge</h2>
        <p>Collaborative web-based dictionary building that syncs with FieldWorks</p>
    </section>

    <!-- Main -->
    <section id="main" class="container">

        <section class="box special">
            <header class="major">
                <h2>Build together and be more productive!</h2>
                <p>Open up your data to others. Maintain control as to who edits. Review comments.<br/>
                    Engage a wider audience: researchers, teammates, native speakers. It's up to you.</p>
            </header>
            <!-- from: https://unsplash.com/photos/SYTO3xs06fU -->
            <span class="image featured"><img src="{{ baseDir }}/images/pic01.jpg" alt="People working together at a table with laptops"/></span>
        </section>

        <a name="learn"></a>
        <section class="box special features">
            <div class="features-row">
                <section>
                    <span class="icon major fa-refresh accent2"></span>
                    <h3>Sync with FieldWorks</h3>
                    <p>Collaborate on Language Forge then sync those changes back into Fieldworks Language Explorer.
                      Make further refinements in FieldWorks and then Send/Receive those back to Language Forge</p>
                </section>
                <section>
                    <span class="icon major fa-user accent3"></span>
                    <h3>User Roles and Permissions</h3>
                    <p>Assign each member of your project a role: observer, commenter, or collaborator. Customize what
                        other members see down to the field level.</p>
                </section>
            </div>
            <div class="features-row">
                <section>
                    <span class="icon major fa-cloud accent4"></span>
                    <h3>Access Anywhere</h3>
                    <p>Language Forge is built on web-technology, so it's available on Windows, Mac, Linux, iOS and
                        Android</p>
                </section>
                <section>
                    <span class="icon major fa-unlock-alt accent5"></span>
                    <h3>Engage Others while<br /> Retaining Control</h3>
                    <p>The commenting feature on Language Forge lets users comment on and suggest changes to individual
                        fields in the dictionary. As a manager you can review each comment and take action, resolve the
                        comment or mark it as TODO for later.</p>
                </section>
            </div>
        </section>

        <div class="row" id="more">
            <div>
                <section class="box special">
                    <!-- from: https://unsplash.com/photos/YVT5aF2QM7M -->
                    <span class="image featured"><img src="{{ baseDir }}/images/pic02.jpg" alt="A wall with lots of tools hanging on it"/></span>
                    <h3>Additional Resources</h3>
                    <p>Thre are plenty of resources to get help and keep up with the latest features.</p>
                    <ul class="actions">
                        <li><a target="_blank" href="https://community.software.sil.org/c/language-forge" class="button alt"><i class="fa fa-users"></i> Help and tips from our active community</a></li>
                        <li><a target="_blank" href="https://community.software.sil.org/t/w/5454" class="button alt"><i class="fa fa-gift"></i> See what's new</a></li>
                        <li><a target="_blank" href="https://www.youtube.com/playlist?list=PLJLUPwIFOI8d8lmQVAcBapyw87jCtmDNA" class="button alt"><i class="fa fa-youtube-play"></i> Videos</a></li>
                        <li><a target="_blank" href="https://github.com/sillsdev/web-languageforge/wiki/Known-Issues-and-Limitations" class="button alt"><i class="fa fa-exclamation-triangle"></i> Known issues and limitations</a></li>
                        <li><a target="_blank" href="mailto:issues@languageforge.org" class="button alt"><i class="fa fa-envelope"></i> Report a problem (issues@languageforge.org)</a></li>
                    </ul>
                </section>
            </div>
        </div>

    </section>

    <!-- CTA -->
    <section id="cta">
        <h2>See For Yourself</h2>
        <div class="outerVideoWrapper">
            <div class="videoWrapper">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/jWWZadUNi5g?controls=0&rel=0&showinfo=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <ul class="actions">
            <li><a href="/public/signup" class="button special">Sign Up</a></li>
            <li><a href="/auth/login" class="button special">Login</a></li>
        </ul>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <ul class="icons">
            <li><a href="https://inter.payap.ac.th/"><img style="margin-bottom: 28px" src="/Site/views/shared/image/payap_logo.png"
                                                      alt="Payap University Logo" width="170" height="50"/></a></li>
            <li><a href="http://www.sil.org"><img src="/Site/views/shared/image/sil_logo.png" alt="SIL International Logo"
                                                  width="100" height="119"/></a></li>
        </ul>


        <ul class="copyright">
            <li>Copyright <span class="notranslate">{{ "now"|date("Y") }}</span> <a href="http://www.sil.org">SIL International</a>. Use of this site is
                governed by our <a href="/terms_and_conditions">terms and conditions</a>.
            </li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </footer>

</div>

<!-- Scripts -->
<script src="{{ baseDir }}/assets/js/jquery.min.js"></script>
<script src="{{ baseDir }}/assets/js/jquery.dropotron.min.js"></script>
<script src="{{ baseDir }}/assets/js/jquery.scrollgress.min.js"></script>
<script src="{{ baseDir }}/assets/js/skel.min.js"></script>
<script src="{{ baseDir }}/assets/js/util.js"></script>
<script src="{{ baseDir }}/assets/js/main.js"></script>

</body>
</html>
