{% extends app.website.base~'.html.twig' %}

{% block content %}
    <div id="app-container-for-bootstrap">
        {% include appFolder~'/ng-app.html' %}
    </div>

    <script type="text/javascript">
        window.session = {{ jsonSession|raw }};
    </script>

    {% if useMinifiedJs %}

        {% for filename in vendorFilesMinJs %}
            <script src="/{{ filename }}"></script>
        {% endfor %}

        <script src="/js/lib/{{ app.website.base }}.min.js"></script>

    {% else %}

        {% for filename in vendorFilesJs %}
            <script src="/{{ filename }}"></script>
        {% endfor %}

        {% for filename in jsFiles %}
            <script src="/{{ filename }}"></script>
        {% endfor %}
    {% endif %}

    {% for filename in jsNotMinifiedFiles %}
        <script src="/{{ filename }}"></script>
    {% endfor %}

    {# this is necessary to fix an IE 10 bug where documentReady fires before all JS resources are loaded.
        see: http://stackoverflow.com/questions/12988506/angularjs-fail-to-load-module #}
    <script>angular.bootstrap(document.getElementById('app-container-for-bootstrap'), ['{{ appName }}']);</script>
{% endblock %}
