{% extends isBootstrap4 ? app.website.base~'Bootstrap4.html.twig': app.website.base~'.html.twig' %}

{% block content %}
    <div id="app-container-for-bootstrap">
        {% include bootstrapFolder~'/'~appName~'.html' %}
    </div>

    <script type="text/javascript">
        window.session = {{ jsonSession|raw }};
        {% if isBootstrap4 %}
            var bootstrapVersion = "bootstrap4";
        {% else %}
            var bootstrapVersion = "bootstrap2";
        {% endif %}
    </script>

    {% if useMinifiedJs %}

        {% for filename in vendorFilesMinJs %}
            <script src="/{{ filename }}"></script>
        {% endfor %}

        <script src="/js/lib/{{ app.website.base }}.min.js"></script>

    {% else %}

        {% for filename in vendorFilesJs %}
            <script src="/{{ filename }}"></script>
        {% endfor %}

        {% for filename in jsFiles %}
            <script src="/{{ filename }}"></script>
        {% endfor %}
    {% endif %}

    {% if isAngular2 %}
        <h1>angular-app.html.twig</h1>
        <p>Here's where we should bootstrap the Angular2 application.</p>
        <script>
            System.import('/{{bootstrapFolder}}/dist/dev/app/main')
                .catch(function (e) {
                console.error(e.stack || e,
                    'Not expecting this error? Report it at https://github.com/mgechev/angular-seed/issues');
                });
        </script>
    {% else %}
        {% for filename in jsNotMinifiedFiles %}
            <script src="/{{ filename }}"></script>
        {% endfor %}

        <script>angular.bootstrap(document.getElementById('app-container-for-bootstrap'), ['{{ appName }}']);</script>
    {% endif %}
{% endblock %}
