{% extends app.website.base~'.html.twig' %}

{% block content %}
    <div class="content container" style="padding-top:100px">
        <div class="row">

            {% if controlpanel %}
                <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
                <div ng-app="">
                    <h4>Choose a maintenance script to run:</h4>
                    <select data-ng-model="run">
                        <option value="test" selected>Test Mode</option>
                        <option value="run">Run Mode</option>
                    </select>
                    {% for script in scriptnames %}
                        <li><a ng-href="/script/{{ script }}/{{ '{{run}}' }}">{{ script }}</a></li>
                    {% endfor %}
                </div>

            {% else %}
                <h4>Output of {{ scriptname }}</h4>
                <h6><a href="/script">return to list of scripts</a></h6>
                <pre>{{ output }}</pre>
                {% if runtype != 'run' %}
                    <h6><a href="{{ scriptrunurl }}">Run this script for real!</a></li></h6>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
