<!DOCTYPE html>
<html lang="en">
<head>
    {# Required meta tags always come first #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="theme-color" content="{{ themeColor }}">

    <title>{{ app.website.name }}</title>

    <link rel=stylesheet href="/dist/css/languageforge.css" />

    {% for cssFile in vendorFilesCss %}
        <link rel=stylesheet href="/{{ cssFile }}?v={{ version }}" />
    {% endfor %}

    <link rel="icon" href="{{ faviconPath }}" type="image/x-icon" />

    {% if manifestFilename %}
    <link rel="manifest" href="/appManifest/{{ manifestFilename }}">
    {% endif %}

    {# jquery must be the first js to be loaded #}
    {%  if useMinifiedJs %}
        <script src="/dist/jquery/jquery.min.js?v={{ version }}"></script>
        <script src="/dist/manifest.bundle.js?v={{ version }}"></script>
        <script src="/dist/vendor.bundle.js?v={{ version }}"></script>
        <script src="/dist/main.bundle.js?v={{ version }}"></script>

        {% for filename in vendorFilesMinJs %}
        <script src="/{{ filename }}?v={{ version }}"></script>
        {% endfor %}

        <script src="/js/lib/{{ app.website.base }}.min.js?v={{ version }}"></script>

    {%  else %}
        <script src="/dist/jquery/jquery.js?v={{ version }}"></script>
        <script src="/dist/manifest.bundle.js?v={{ version }}"></script>
        <script src="/dist/vendor.bundle.js?v={{ version }}"></script>
        <script src="/dist/main.bundle.js?v={{ version }}"></script>

        {% for filename in vendorFilesJs %}
        <script src="/{{ filename }}?v={{ version }}"></script>
        {% endfor %}

        {% for filename in jsFiles %}
        <script src="/{{ filename }}?v={{ version }}"></script>
        {% endfor %}

    {% endif %}

    {% for filename in jsNotMinifiedFiles %}
        <script src="/{{ filename }}?v={{ version }}"></script>
    {% endfor %}

    <script type="text/javascript">window.liveSettings={api_key:"a328216f86c9417cb7583c0100669635"}</script>
    <script type="text/javascript" src="//cdn.transifex.com/live.js"></script>

</head>

<body>

{# appcache disabled due to being an unfinished feature #}
{# {% block appcache %}{% endblock %} #}
{% block header %}{% endblock %}
{% block content %}{% endblock %}
{% block script %}{% endblock %}
{% block footer %}{% endblock %}
{% block analytics %}{% endblock %}
</body>
</html>
