<!DOCTYPE HTML>
<!--
	Tessellate by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{{ baseDir }}/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{ baseDir }}/assets/sass/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ baseDir }}/assets/sass/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ baseDir }}/assets/sass/ie9.css" /><![endif]-->

		<link rel="icon" href="/Site/views/scriptureforge/theme/default/image/favicon.ico" type="image/x-icon">
	</head>
	<body>

		<!-- Header -->
			<section id="header" class="dark" style="background-color: #5c3d20;">
				<header>
					<h1>Welcome!</h1>
				</header>
				<footer>
					<ul class="actions">
						<li>
							<a href="/public/signup" class="button">Sign up</a>
						</li>
						<li>
							<a href="/auth/login" class="button">Login</a>
						</li>
					</ul>
				</footer>
			</section>

		<!-- Footer -->
		<section id="footer">
            <div class="copyright">

                <ul class="menu">
                    <li>Use of this site is governed by our <a href="/terms_and_conditions">terms and conditions</a>.
                    </li>
                    <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    <!-- <li>Photo Credit: <a href="https://commons.wikimedia.org/wiki/File%3ABangkok_at_night_01_(MK).jpg">photo [<a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>]</li> -->
                    </ul>
                </div>
		</section>

		<!-- Scripts -->
		<script src="{{ baseDir }}/assets/js/jquery.min.js"></script>
			<script src="{{ baseDir }}/assets/js/jquery.scrolly.min.js"></script>
			<script src="{{ baseDir }}/assets/js/skel.min.js"></script>
			<script src="{{ baseDir }}/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="{{ baseDir }}/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{ baseDir }}/assets/js/main.js"></script>

	</body>
</html>
