{% extends 'container.html.twig' %}

{% block header %}
<div id="maincontainer">
    <div id="header">
        <div>
            <div class="pull-left" style="padding-top:19px; padding-left: 22px">
                <a href="/" style="font-weight: normal; font-size: 16px">Language Forge</a>
                {% if app.website.domain == "languageforge.local" %} (Bootstrap 2){% endif %}
            </div>
            <div id="header-nav" class="pull-right">
                <ul class="sf-menu">
                    <li><a href="/">Home</a></li>
                    {% if showHelpButton %}
                        <li ng-app="xforge.helpButton" ng-controller="helpButtonController" ng-show="showButton"><a ng-click="showHelpContent()">Help</a></li>
                    {% endif %}
                    {% if isLoggedIn %}
                        <li id="myProjects"><a href="/app/projects">My Projects</a>
                            <ul>
                                {% for project in projects %}
                                    <li><a href="{{ '/app/'~project.appName~'/'~project.id }}">{{ project.projectName }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li>
                            <a href="#"><img src="{{ smallAvatarUrl }}" style="width: 28px; height: 28px; float:left; position:relative; top:-5px; border:1px solid #39537c; margin-right:10px" id="smallAvatarURL" />Hi, {{ userName }}</a>
                            <ul>
                                {% if isAdmin %}
                                    <li><a href="/app/siteadmin">Site Administration</a></li>
                                {% endif %}
                                <li><a href="/app/userprofile">My Profile</a></li>
                                <li><a href="/app/changepassword">Change Password</a></li>
                                <li><a href="/auth/logout">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="header-button-special"><a href="/public/signup">Sign Up</a></li>
                        <li class="header-button-special"><a href="/auth/login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="clearfooter"></div>
</div>
    <div id="footercontainer">

        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="span6 offset4">
                        <p><a href="http://ic.payap.ac.th/"><img src="/Site/views/shared/image/payap_logo.png" alt="Payap University Logo" width="170" height="50" style="float: left; margin: 50px 20px"/></a></p>
                        <p><a href="http://www.sil.org"><img src="/Site/views/shared/image/sil_logo.png" alt="SIL International Logo" width="100" height="109" /></a></p>
                    </div>
                </div>

                <div class="row">
                    <div class="span1" style="color: #404040"><small>v {{ version }}</small></div>
                    <div class="span8 offset1">
                        Copyright {{ "now"|date("Y") }} <a href="http://www.sil.org">SIL International</a>. Use of this site is governed by our <a href="/terms_and_conditions">terms and conditions</a> of use.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block analytics %}
    {% if 'languageforge.org' in http_host %}
        <script>
            (function (i,s,o,g,r,a,m) {i['GoogleAnalyticsObject']=r;i[r]=i[r]||function () {
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-22170471-11', 'auto');
            ga('send', 'pageview');

        </script>
    {% endif %}
{% endblock %}


