{% extends 'container.html.twig' %}

{% block appcache %}
<iframe src="/include-cache-manifest" width="0" height="0"></iframe>
{% endblock %}

{% block header %}

    {% if isLoggedIn %}

        <div id="primary-navigation" class="fixed-nav-bar" data-ng-cloak data-ng-controller="navbarController as $ctrl">
            <nav class="navbar navbar-expand navbar-dark align-items-stretch">
                <span class="navbar-brand d-md-inline-block mr-auto">
                    <img class="navbar-logo" src="/Site/views/languageforge/theme/default/image/lf_logo_medium.png">
                    <a class="website-title" href="/">{{ app.website.name }}</a>
                </span>
                <ul class="nav navbar-nav">
                    <!-- <li class="nav-item">
                        <a class="nav-link " href="/app/activity">Activity</a>
                    </li> -->
                    <li class="nav-item" uib-dropdown>
                        <a class="nav-link" uib-dropdown-toggle href id="helpDropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-life-ring"></i> <span>Help</span></a>
                        <div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="helpDropdown">
                            {% if projectId is not empty %}
                                <a class="dropdown-item" target="_blank" href="https://hlp.sh/t/_/GsubLqNFYR2?~id={{projectId}}">Start Language Forge Tour</a>
                            {% endif %}
                            <a class="dropdown-item" target="_blank" href="https://community.software.sil.org/c/language-forge/how-to">Tutorials and How-Tos</a>
                            <a class="dropdown-item" target="_blank" href="https://community.software.sil.org/c/language-forge">Community Support</a>
                            <a class="dropdown-item" target="_blank" href="mailto:issues@languageforge.org">Report a Problem<br />(email issues@languageforge.org)</a>
                            <a class="dropdown-item" href="/releasenotes">Release Notes</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" uib-dropdown>
                        <a class="nav-link" uib-dropdown-toggle href id="myProjectDropdownButton"
                           aria-haspopup="true" aria-expanded="false">
                            <span>My Projects</span>
                            <i class="fa fa-bars"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu id="myProjectDropdownMenu" aria-labelledby="myProjectDropdown">
                            {% verbatim %}
                            <div data-ng-switch="$ctrl.projectTypesBySite().length" data-ng-show="$ctrl.rights.canCreateProject">
                                <div data-ng-switch-when="1">
                                    <a class="dropdown-item" data-ng-href="/app/{{$ctrl.projectTypesBySite()[0]}}/new-project">
                                        <b>Start or Join a New Project</b></a>
                                </div>
                                <div data-ng-switch-default data-ng-repeat="appName in $ctrl.projectTypesBySite()">
                                    <a class="dropdown-item" data-ng-href="/app/{{appName}}/new-project">
                                        <img height="24px" data-ng-src="/Site/views/{{$ctrl.siteName}}/image/{{appName}}-newProjectBadge.png" />
                                        <b>Start a <span class="notranslate">{{$ctrl.projectTypeNames[appName]}}</span> project</b>
                                    </a>
                                </div>
                            </div>
                            {% endverbatim %}
                            {% if projects|length > 10 %}
                                <a class="dropdown-item" href="/app/projects?redirect=no"><b>List All Projects</b></a>
                                <div class="dropdown-divider"></div>
                            {% endif %}
                            {% if projects|length > 0 and projects|length <= 10 %}
                                {% verbatim %}
                                <div class="dropdown-divider" data-ng-show="$ctrl.rights.canCreateProject"></div>
                                {% endverbatim %}
                            {% endif %}
                            {% for project in projects %}
                                <a class="dropdown-item"
                                   href="{{ '/app/'~project.appName~'/'~project.id }}">{{ project.projectName }}</a>
                            {% endfor %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/app/activity"><b>Activity for All Projects</b></a>
                        </div>
                    </li>
                    {% verbatim %}
                    <li class="nav-item notranslate">
                        <pui-interface-language pui-interface-config="$ctrl.interfaceConfig"
                                                pui-language-code="$ctrl.interfaceConfig.languageCode"
                                                pui-on-update="$ctrl.onUpdate($event)">
                        </pui-interface-language>
                    </li>
                    {% endverbatim %}
                </ul>
            </nav>
            <nav class="navbar navbar-expand navbar-dark align-items-center justify-content-between">
                <div class="page-header-detail">
                    <div class="page-name" data-ng-bind="$ctrl.header.pageName"></div>
                    <breadcrumbs id="top" class="breadcrumbs d-none d-md-block"></breadcrumbs>
                </div>
                <ul class="nav navbar-nav">
                    <li class="nav-item" ng-if="$ctrl.project" id="settings-dropdown-button" uib-dropdown data-ng-class="{'app-settings-available': $ctrl.header.settings.length > 0 && $ctrl.currentUserIsProjectManager}">
                        <a id="settingsBtn" class="btn btn-primary my-auto" uib-dropdown-toggle title="Settings" href="#">
                            <i class="fa fa-cog iconPadding"></i><span>Settings</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-left" uib-dropdown-menu>
                            {% verbatim %}
                            <div data-ng-repeat="setting in $ctrl.header.settings">
                                <div class="dropdown-divider" data-ng-show="setting.divider"></div>
                                <a ng-if="setting.id === 'userManagementLink'" id="{{ setting.id }}" class="dropdown-item" data-ng-href="{{ setting.href }}" ng-click="$ctrl.openShareWithOthersModal()">{{ setting.label }}</a>
                                <a ng-if="setting.id !== 'userManagementLink'" id="{{ setting.id }}" class="dropdown-item" data-ng-href="{{ setting.href }}">{{ setting.label }}</a>
                            </div>
                            {% endverbatim %}
                        </div>
                    </li>
                    <li class='nav-item' ng-if="$ctrl.project && $ctrl.displayShareButton">
                        <a id="shareBtn" class="btn btn-primary my-auto" title="Share" href="#"
                                         ng-click="$ctrl.openShareWithOthersModal()">
                            <i class="fa fa-share-alt iconPadding"></i><span>Share</span>
                        </a>
                    </li>
                    <li class="nav-item" uib-dropdown>
                        <a class="nav-link" uib-dropdown-toggle href id="userDropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <img src="{{ smallAvatarUrl }}"
                                 class="rounded-circle"
                                 id="smallAvatarURL" /><span class="notranslate">{{ userName }}</span></a>
                        <div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="userDropdown">
                            {% if isAdmin %}
                                <a class="dropdown-item" href="/app/siteadmin">Site Administration</a>
                            {% endif %}
                            <a class="dropdown-item" href="/app/userprofile">My Profile</a>
                            <a class="dropdown-item" href="/app/changepassword">Change Password</a>
                            <a class="dropdown-item" href="/auth/logout">Logout</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>

    {% else %}
        <div id="primary-navigation" class="logged-out" data-ng-cloak data-ng-controller="navbarController as $ctrl">
            <nav class="fixed-nav-bar navbar navbar-expand navbar-dark align-items-stretch logged-out">
                <span class="navbar-brand d-md-inline-block mr-auto">
                    <img class="navbar-logo" src="/Site/views/languageforge/theme/default/image/lf_logo_medium.png">
                    <a class="" href="/">{{ app.website.name }}</a>
                </span>
                <ul class="nav navbar-nav">
                    <li class="nav-item header-button-rounded">
                        <a class="nav-link" href="/public/signup">Sign Up</a>
                    </li>
                    <li class="nav-item header-button-rounded">
                        <a class="nav-link" href="/auth/login">Login</a>
                    </li>
                    {% verbatim %}
                    <li class="nav-item notranslate">
                        <pui-interface-language pui-interface-config="$ctrl.interfaceConfig"
                                                pui-language-code="$ctrl.interfaceConfig.languageCode"
                                                pui-on-update="$ctrl.onUpdate($event)">
                        </pui-interface-language>
                    </li>
                    {% endverbatim %}
                </ul>
            </nav>
        </div>
    {% endif %}
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="d-flex">
            <div class="d-none d-sm-flex align-items-end">
                <div>
                    <a href="https://inter.payap.ac.th/"><img src="/Site/views/shared/image/payap_logo.png"
                                                          alt="Payap University Logo" width="85" height="25" /></a>
                    <a href="http://www.sil.org"><img src="/Site/views/shared/image/sil_logo_small.png"
                                                      alt="SIL International Logo" width="25" height="30" /></a>
                </div>
            </div>
            <div class="d-flex flex-grow justify-content-end align-items-end">
                <small>
                    v {{ version }}.
                    Copyright <span class="notranslate">{{ "now"|date("Y") }}</span> <a href="http://www.sil.org" class="links">SIL International</a>.
                    <a href="/terms_and_conditions" class="links">Terms and conditions</a>.
                </small>
            </div>
        </div>
    </footer>
{% endblock %}

{% block analytics %}
    {% if 'languageforge.org' in http_host %}
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-22170471-11', 'auto');
            ga('send', 'pageview');

        </script>
    {% endif %}
{% endblock %}
